﻿@model Mandee.Models.UserModel
<div class="container">
    <div class="row pb-5">
        <div class="col">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-signin">
                    <h2 class="form-signin-heading" id="anchor">Login</h2>
                    <div>
                        @Html.LabelFor(x => x.Email, new {@class = "sr-only"})
                        @Html.TextBoxFor(x => x.Email, new {id = "inputEmail", @class = "form-control", placeholder = "Email address"})
                        @Html.ValidationMessageFor(x => x.Email, null, new {id = "l-Style", style = "color:#FF1C4D"})
                    </div>
                    <div>
                        @Html.LabelFor(x => x.Password, new {@class = "sr-only"})
                        @Html.PasswordFor(x => x.Password, new {id = "inputPassword", @class = "form-control", placeholder = "Password"})
                        @Html.ValidationMessageFor(x => x.Password, null, new {id = "l-Style", style = "color:#FF1C4D"})
                    </div>
                    <div>
                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit"/>
                    </div>
                </div>
            }
            <p class="text-muted text-center">email: demo@demo.com password: pass</p>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Content/JS/ResponsiveValidation.js"></script>
}