﻿@model List<Mandee.Models.TeamModel>

    <div id="card-list" class="row px-5 pb-5">
        @{
            foreach (var getter in @Model)
            {
                <div class="col-lg-4 col-md-6 my-1 pb-2">
                    <div class="card pb-5" style="width: 18rem;">
                        <img class="card-img-top" src="~/Content/Images/Team/@getter.Pic" alt="Card image cap" style="width: 286px; height: auto;">
                        <div class="card-block">
                            <h4 class="card-title">@getter.Role</h4>
                            <p class="card-title">@getter.Name</p>
                            <p class="card-text font-italic">@getter.Comment</p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
