﻿@model List<Mandee.Models.BlogModel>
<div class="container">

    <div class="row">
        <div class="col">
            <h2 id="anchor">Blog</h2>
        </div>
    </div>

    <div id="card-list" class="row pb-5">
        @{
            foreach (var getter in @Model)
            {
                <div class="col-lg-4 col-md-6 my-1">
                    <div class="card">
                        <div class="card-header">
                            @getter.Title
                        </div>
                        <div class="card-block">
                            <h6 class="card-title">@getter.ByLine</h6>
                            <p class="card-text">@getter.BodyCopy</p>
                        </div>
                        <div class="card-footer text-muted">
                            <p style="font-size: 0.7em; font-style: italic">Submitted by: @getter.Author closing date: @getter.PublishedDate.ToShortDateString()</p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>