﻿@using Mandee.Models;
@model AdModel
<div class="container">
    <div class="row">
        <div class="col">
            <h2 id="anchor">Case study</h2>
        </div>
    </div>

    <div id="card-list" class="row pb-5">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Title: @Model.Title
                </div>
                <div class="card-block">
                    <p class="card-text"> Short description: @Model.Description</p>
                </div>
                <div class="card-block">
                    <p class="card-text"> Url: <a href="@Model.Url">@Model.Url</a> </p>
                </div>
                <div class="card-footer text-muted">
                    <p style="font-size: 0.7em; font-style: italic">Submitted by: @Model.Author closing date: @Model.startAd.ToShortDateString()</p>
                </div>
            </div>
        </div>
    </div>
</div>